{% extends 'base.html' %}

{% block content %}

<!-- <form action="." method="POST">
  {% csrf_token %}
  <div class="form-row align-items-center">
    <div class="col-auto">

      {{ form.as_p }}
        <p>
            <b>Subtotal</b> {{object.subtotal}}
        </p>
        <p>
            <b>Tax</b> {{object.tax}}
        </p>
        <p>
            <b>Total</b> {{object.total}}
        </p>
      <button type="submit" class="btn btn-primary mb-2">Complete Order</button>
    </div>
  </div>
</form> -->
<div class="row">
  <div class="col-md-3 order-md-2">
    <p>
      <b>Product</b>: {{object.product.title}}
    </p>
    <p>
      <b>Subtotal</b> {{object.subtotal}}
    </p>
    <p>
      <b>Tax</b> {{object.tax}}
    </p>
    <p>
      <b>Total</b> {{object.total}}
    </p>
  </div>
  <div class="col-md-9">
    <h3>{{object.product.title}}:<small> Rs.{{object.product.price}}</small></h3>
    {% include 'snippets/forms.html' with forms=forms submit_btn='Complete Order'%}
  </div>
</div>
{% endblock %}